#file-input {
  margin: 5px auto;
  display: block
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#canvas {
  margin: 0 auto;
  display: block;
  max-width: 95vw;
  max-height: 75vh;
}
